@import "tailwindcss";
.khmerFont {
 font-family: "Khmer Sangam MN", "Noto Sans Khmer", "Arial", sans-serif;
}
body {

  min-height: 100vh;
  font-family: sans-serif;
}
 .font{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Inter, "Helvetica Neue", sans-serif;
 }

.glass {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.55)
  );
  
  backdrop-filter: blur(30px) saturate(180%);
  -webkit-backdrop-filter: blur(30px) saturate(180%);

  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 20px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);

  color: rgba(0, 0, 0, 0.85);

  font-family: -apple-system, BlinkMacSystemFont,
               "SF Pro Display", "SF Pro Text",
               Inter, "Helvetica Neue", sans-serif;
}

.glass-bar {
  background: rgba(255, 255, 255, 0.8);       /* bg-white/80 */
  backdrop-filter: blur(20px);                /* backdrop-blur-xl */
  border: 1px solid rgba(255, 255, 255, 0.3); /* subtle border */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* soft shadow */                     /* rounded-xl */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Inter, "Helvetica Neue", sans-serif;
}


.toast-success {
  background-color: rgba(72, 187, 120, 0.8); /* greenish */
  color: white;
}

.toast-error {
  background-color: rgba(220, 53, 69, 0.85); /* reddish */
  color: white;
}

.toast-info {
  background-color: rgba(23, 162, 184, 0.85); /* blueish */
  color: white;
}

.toast-warning {
  background-color: rgba(255, 193, 7, 0.85); /* yellowish */
  color: black;
}








