@import "tailwindcss";
.khmerFont {
 font-family: "Khmer Sangam MN", "Noto Sans Khmer", "Arial", sans-serif;
}
body {
  background: linear-gradient(135deg, #ffffff, #d0e8ff, #ffe4f0);
  background-size: cover;
  min-height: 100vh;
  font-family: sans-serif;
}

.glass {
   background: rgba(255, 255, 255, 0.5); /* translucent */
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.navglass {
  background: rgba(255, 255, 255, 0.4); /* ultra-light background */
  backdrop-filter: blur(120px) saturate(300%); /* VERY strong blur */
  -webkit-backdrop-filter: blur(120px) saturate(300%); /* Safari */
  border-top: none;
  border-right: 0.5px solid rgba(255,255,255,0.2);
  border-bottom: 0.5px solid rgba(255,255,255,0.2);
  border-left: 0.5px solid rgba(255,255,255,0.2);
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  z-index: 50;
}
.glass:hover {
  background: rgba(255, 255, 255, 0.25);
} 








