@import "tailwindcss";
.khmerFont {
 font-family: "Khmer Sangam MN", "Noto Sans Khmer", "Arial", sans-serif;
}
body {
  background: linear-gradient(135deg, #ffffff, #a3c9f7, #f9b9d0);
  background-size: cover;
  min-height: 100vh;
  font-family: sans-serif;
}

.glass {
   background: rgba(255, 255, 255, 0.15); /* translucent */
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.glass:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: scale(1.01);
}
.bodyglass {
  background: rgba(255, 255, 255, 0.15); /* translucent */
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.bodyglass:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.005);
}




