@import "tailwindcss";
.khmerFont {
 font-family: "Khmer Sangam MN", "Noto Sans Khmer", "Arial", sans-serif;
}
body {

  min-height: 100vh;
  font-family: sans-serif;
}


.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.toast-success {
  background-color: rgba(72, 187, 120, 0.8); /* greenish */
  color: white;
}

.toast-error {
  background-color: rgba(220, 53, 69, 0.85); /* reddish */
  color: white;
}

.toast-info {
  background-color: rgba(23, 162, 184, 0.85); /* blueish */
  color: white;
}

.toast-warning {
  background-color: rgba(255, 193, 7, 0.85); /* yellowish */
  color: black;
}








