@import "tailwindcss";
.khmerFont {
 font-family: "Khmer Sangam MN", "Noto Sans Khmer", "Arial", sans-serif;
}
body {

  min-height: 100vh;
  font-family: sans-serif;
}


.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.glass:hover {
  background: rgba(255, 255, 255, 0.25);
} 
.glass-hover:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.toast-success {
  background-color: rgba(72, 187, 120, 0.8); /* greenish */
  color: white;
}

.toast-error {
  background-color: rgba(220, 53, 69, 0.85); /* reddish */
  color: white;
}

.toast-info {
  background-color: rgba(23, 162, 184, 0.85); /* blueish */
  color: white;
}

.toast-warning {
  background-color: rgba(255, 193, 7, 0.85); /* yellowish */
  color: black;
}








